<%- title 'Listing Users' %>
<% if !@users.blank? %>
  <% for user in @users %>
    <p><%= link_to user.email, user_path(user) %><br \></p>
  <% end %>
<% else %>
  <p>There are no users.</p>
<% end %>